/*general*/
html{
    font-size: 100%;
}

body{
    margin: 0;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
}

img{
    object-fit: cover;
}

section{
    margin: 0 auto;
}

/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.logo{
    height: 60px;
    width: 100%;
    object-fit: cover;
}

header nav ul{
    display: flex;
    margin-bottom: 0;
}

header li{
    font-size: 1.4rem;
    list-style: none;
    padding-right: 20px;
    padding-left: 30px;
}

header li a{
    background-color: rgb(236, 233, 233);
    padding: 5px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

header li a:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

/*about*/
.about{
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    background-color: rgb(244, 244, 244);
}

.about-img-container{
    width: 50%;
}

.about-img{
    height: 500px;
    border-radius: 250px;
}

.about-text-container{
    width: 50%;
    background-color: rgb(243, 255, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    padding-bottom: 30px;
}

.about-text-container h2{
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid gray;
}

.about-text-container p{
    width: 70%;
    margin: 0;
    font-size: 0.95rem;
}

/*portfolio*/

.portfolio{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h2{
    border-bottom: 1px solid gray;
}

.portfolio p{
    text-align: center;
}


.portfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.portfolio-container img{
    height: 200px;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.15s ease-in-out;
}

.portfolio-container img:hover{
    background-color: rgb(151, 209, 52);   
}

.reference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242, 252, 255);
    padding: 40px;
    width: 80%;
}

.reference p{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.reference li{
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
}

.reference li a:hover{
    text-decoration: underline;
}


/*footer*/
#page-top{
    position: fixed;
    right: 5px;
    bottom: 20px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 90%;
    line-height: 1.5rem;
    color: #737373;
    padding: 0 0 0 35px;
    border-top: solid 1px;
}

#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}
